<!-- Header section start -->
{% block header %}
<header class="header-area" style="background-color:black">
    <a href="{{url_for('main.index')}}" class="logo-area">
        <img src= "{{ url_for('static', filename='img/logo.png') }}" alt="">
    </a>
    <div class="nav-switch">
        <i class="fa fa-bars"></i>
    </div>
    <div class="phone-number">+675 334 567 223</div>
        {% block navbar %}
            {% include '_navbar.html' %}
        {% endblock %}
</header>
<!-- Header section end -->
{% endblock %}