<!-- <section class="hero-section">
            left social link ber -->
            {% block left_bar %}
            <div class="left-bar">
                <div class="left-bar-content">
                    <div class="social-links">
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </div>
                </div>
            </div>
            {% endblock %}
<!-- hero slider area -->