<script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/isotope.pkgd.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/owl.carousel.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery.owl-filter.js')}}"></script>
<script src="{{ url_for('static', filename='js/magnific-popup.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/circle-progress.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/main.js')}}"></script>