{% extends 'bootstrap/base.html' %}


<title>
    {% block title %}
        {% if title %} {{ title }} - ArRange {% else %} {{ ArRange }} {% endif %}
    {% endblock %}
</title>

{% block head %}
<head>
    {% include "_head_helper.html" %}
</head>
{% endblock %}

{% block body %}
    <body>
        <!-- Page Preloder -->
        
        <!-- Header section start -->   
        
        <!-- Header section end -->   

        <!-- Main content block -->
        {% block content %}
            <!-- This section will be replaced by child templates -->
            <!-- Default content here if any, otherwise keep it empty -->
        {% endblock content %}

        <!-- Hero section start -->

        <!-- Hero section end -->

        <!-- Intro section start -->

        <!-- Intro section end -->

        <!-- Service section start -->

        <!-- Your service section content here -->
        
        <!-- Service section end -->

        <!-- CTA section start -->
        <!-- Your CTA section content here -->
        <!-- CTA section end -->

        <!-- Milestones section Start -->
        <!-- Your milestones section content here -->
        <!-- Milestones section end -->

        <!-- Projects section start -->
        <!-- Your projects section content here -->
        <!-- Projects section end -->

        <!-- Clients section start -->
        <!-- Your clients section content here -->
        <!-- Clients section end -->

        <!-- Footer section start -->
        <!-- Your footer section content here -->
        <!-- Footer section end -->

        <!--====== Javascripts & Jquery ======-->
        
        {% include '_script_helper.html' %}

        
    </body>
{% endblock body %}