<title>
{% block title %}
    {% if title %} {{ title }} - ArRange {% else %} {{ ArRange }} {% endif %}
{% endblock %}
</title>

<head>
{% block head %}
<meta name="keywords" content="ArRange, architecture, onepage, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="referrer" content="strict-origin" />
<!-- Favicon -->   
<link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="shortcut icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

<link rel="stylesheet" href="//https:/maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Stylesheets -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/animate.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/owl.carousel.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}
</head>

{% include '_header_helper.html' %}

<body>
{% block content %}
	<!-- Page header section start -->
	<section class="page-header-section set-bg" data-setbg="{{ url_for('static', filename='img/bg.jpg') }}">
		<div class="container">
			<h1 class="header-title">Portfolio<span>.</span></h1>
		</div>
	</section>
	<!-- Page header section end -->

	<!-- Page section start -->
	<div class="page-section spad">
		<div class="container">
			<!-- portfolio filter menu -->
			<ul class="portfolio-filter">
				<li class="filter" data-filter="*">All</li>
				<li class="filter" data-filter=".photo">Photography</li>
				<li class="filter" data-filter=".design">Design</li>
				<li class="filter" data-filter=".iden">Identity</li>
				<li class="filter" data-filter=".corp">Corporate</li>
				<li class="filter" data-filter=".uxui">UI/UX</li>
			</ul>
		</div>
		<!-- portfolio items -->
		<div class="portfolio-warp spad">
			<div id="portfolio">
				<div class="grid-sizer"></div>
				<!-- portfolio items -->
				<div class="grid-item set-bg grid-wide photo" data-setbg="{{ url_for('static', filename='img/portfolio/1.jpg') }}">
					<a class="img-popup" href="{{ url_for('static', filename='img/portfolio/1.jpg') }}"></a>
				</div>
				<div class="grid-item set-bg design corp" data-setbg="{{ url_for('static', filename='img/portfolio/2.jpg') }}">
					<a class="img-popup" href="{{ url_for('static', filename='img/portfolio/2.jpg') }}"></a>
				</div>
				<div class="grid-item set-bg iden photo uxui" data-setbg="{{ url_for('static', filename='img/portfolio/3.jpg') }}">
					<a class="img-popup" href="{{ url_for('static', filename='img/portfolio/3.jpg') }}"></a>
				</div>
				<div class="grid-item set-bg corp design" data-setbg="{{ url_for('static', filename='img/portfolio/4.jpg') }}">
					<a class="img-popup" href="{{ url_for('static', filename='img/portfolio/4.jpg') }}"></a>
				</div>
				<div class="grid-item set-bg uxui iden" data-setbg="{{ url_for('static', filename='img/portfolio/5.jpg') }}">
					<a class="img-popup" href="{{ url_for('static', filename='img/portfolio/5.jpg') }}"></a>
				</div>
				<div class="grid-item set-bg grid-long design corp" data-setbg="{{ url_for('static', filename='img/portfolio/6.jpg') }}">
					<a class="img-popup" href="{{ url_for('static', filename='img/portfolio/6.jpg') }}"></a>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="pagination">
				<a href="#">01</a>
				<a href="#" class="active">02</a>
				<a href="#">03</a>
			</div>
		</div>
	</div>
	<!-- Page section end -->

{% endblock %}

{% include "_script_helper.html" %}

<!--<script>-->
<!--	event.preventDefault(); // Prevent the default anchor behavior-->
<!--        // Remove the 'active' class from all pagination links-->
<!--        document.querySelectorAll('.pagination a').forEach((item) => {-->
<!--          item.classList.remove('active');-->
<!--          item.style.fontSize = ''; // Reset font size-->
<!--        });-->
<!--        // Add the 'active' class to the clicked link-->
<!--        this.classList.add('active');-->
<!--        this.style.fontSize = '48px'; // Set the active font size for clicked link-->
<!--      });-->
<!--    });-->
<!--</script>-->
document.querySelectorAll('.pagination a').forEach((link) => {
link.addEventListener('click', function (event) {

</body>
<!-- Footer section start -->
{% include '_helper_footer.html' %}
<!-- Footer section end -->